:root{
    --main-color: #4C4AE6;
    font-size: 25px;
}

body{
    font-size: 16px;
}

.footer {
    /*background-color: rgb(78, 18, 134); */
    background-color: var(--main-color);
    color: #FFF;
    /* color: rgba(0, 0, 0, 1); */
    text-align: center;
    font-style: italic;
    /* 1em/1rem = 16px */
    font-size: 2em; /* 2x16px = 32px */
    /* padding */
    /* Top - Right - Bottom - Left */
    padding: 20px 0 20px 0;
    /* Y (top / bottom) - X (Left / Right) */
    padding: 20px 0px;
    /* All */
    padding: 20px;
    /* Specific padding */
    padding-top: 40px;
    /* Border */
    border: 2px solid red;
    /* Suavizar bordes *//*border-radius: 50% o 5px (Porcentaje o Pixeles; */

    /* margin */
    /* Top - Right - Bottom - Left */
    margin: 60px 20px 0 20px;
    /* Y (top / bottom) - X (Left / Right) */
    margin: 40px 0px;
    margin-top: 0px;
}

.main {
    width: 90%;
    max-width: 680px;
    margin: 20px auto;
}

.main label {
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0 ;
}

#nombre {
    display: block;
    display: inline-block;
    display: none;
}

h1 {
    background-color: var(--main-color);
}

.navbar {
    background-color: var(--main-color);
}

.primary {
    color: var(--main-color);
}

/* navbar */
.navbar {
    background-color: var(--main-color);
    color: #FFF;
}

.navbar a.link {
    display: none;
}

@media screen and (min-width: 546px) {
    /* CSS de ancho mayor que 546px */
    .navbar a.link {
        display: inline-block;
        color: #FFF;
    }
}

@media screen and (min-width: 746px) {
    /* CSS de ancho mayor que 746px */
    .navbar a.link {
        text-decoration: underline;
    }
}

@media print {
    .navbar a.link {
        display: inline-block;
        color: red;
    }
}