:root{
    --main-color: #4C4AE6;
    font-size: 25px;
}

body{
    font-size: 16px;
}

.footer {
    /*background-color: rgb(78, 18, 134); */
    background-color: var(--main-color);
    color: #FFF;
    /* color: rgba(0, 0, 0, 1); */
    text-align: center;
    font-style: italic;
    /* 1em/1rem = 16px */
    font-size: 2em; /* 2x16px = 32px */
    /* padding */
    /* Top - Right - Bottom - Left */
    padding: 20px 0 20px 0;
    /* Y (top / bottom) - X (Left / Right) */
    padding: 20px 0;
}

.btn {
    background-color: var(--main-color);
}

.navbar {
    background-color: var(--main-color);
}

.primary {
    color: var(--main-color);
}
